@import 'settings/all';

html {
	font-size: 100%;
	font-family: sans-serif;
}

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: radial-gradient(#d8d8d8 15%, transparent 16%) 0 0,
				radial-gradient(#dadada 15%, transparent 16%) 4px 4px,
				radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
				radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 4px 5px;
	background-color: #efefef;
	background-size: 8px 8px;
	-webkit-text-size-adjust: 100%;
}

/* stylelint-disable-next-line selector-max-universal */
*,
::before,
::after {
	box-sizing: inherit;
}
