@import 'settings/all';

html {
	font-size: 100%;
	font-family: sans-serif;
}

body {
	padding: 0;
	margin: 0;
	background: $background-default;
	box-sizing: border-box;
	-webkit-text-size-adjust: 100%;
}

*,
::before,
::after {
	box-sizing: inherit;
}


