@import 'settings/all';

.header {
	position: relative;
	z-index: 1;
	background: $background-surface;
	// box-shadow: 0 0.25em 0.5em rgba($shadow-default-color, 0.1);
	padding-top: microbe-rem(24);
	padding-bottom: microbe-rem(24);
	font-size: microbe-rem(24);
}
